---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="blog-page">
    <div class="blog-page-content">
      <h1>Posts</h1>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
