---
import BaseLayout from "../layouts/BaseLayout.astro";

import Social from "../components/Social.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="home-page">
    <h1>Hello there!</h1>
    <p>
      Welcome to my online diary.
    </p>
    <p>
      I'm Sandrex, a caffeine-consumer/any-kind-of-music-enjoyer/swabelicious
      guy from Taguig.
    </p>
    <p>
      Enjoy reading my nonsense.
    </p>

    <div class="home-page-links">
      <!-- <span> Connect with me: </span> -->
      <Social platform="github" username="sandrex-endino" />
      //
      <Social platform="linkedin" username="in/sandrex-endino" />
      //
      <Social platform="twitter" username="sandrex53" />
      //
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">youtube</a>
    </div>
  </div>
</BaseLayout>
